In [7]:
import sys
sys.path.append('/opt/ml/code/stage1')

In [49]:
import os
import pandas as pd
import numpy as np
from glob import glob

In [50]:
train_origin_dir = '/opt/ml/input/data/train/images'
train_info_csvfile = '/opt/ml/input/data/train/train.csv'

In [21]:
train_info = pd.read_csv(train_info_csvfile)
train_info.head()

       id  gender   race  age                    path
0  000001  female  Asian   45  000001_female_Asian_45
1  000002  female  Asian   52  000002_female_Asian_52
2  000004    male  Asian   54    000004_male_Asian_54
3  000005  female  Asian   58  000005_female_Asian_58
4  000006  female  Asian   59  000006_female_Asian_59

In [22]:
train_info.index = train_info.path
train_info = train_info.drop(['id', 'path', 'race'], axis=1)
train_info.head()

                        gender  age
path
000001_female_Asian_45  female   45
000002_female_Asian_52  female   52
000004_male_Asian_54      male   54
000005_female_Asian_58  female   58
000006_female_Asian_59  female   59

In [23]:
train_info.gender = train_info.gender.map(lambda x: int(x == 'female'))
train_info.age = train_info.age.map(lambda x: x // 30)
train_info.head()

                        gender  age
path
000001_female_Asian_45       1    1
000002_female_Asian_52       1    1
000004_male_Asian_54         0    1
000005_female_Asian_58       1    1
000006_female_Asian_59       1    1

In [31]:
train_info['gender+age'] = train_info.gender * 3 + train_info.age
train_info.head()

                        gender  age  gender+age
path
000001_female_Asian_45       1    1           4
000002_female_Asian_52       1    1           4
000004_male_Asian_54         0    1           1
000005_female_Asian_58       1    1           4
000006_female_Asian_59       1    1           4

In [34]:
train_info[['gender', 'age']].value_counts()

gender  age
1       1      817
        0      732
0       0      549
        1      410
1       2      109
0       2       83
dtype: int64

In [41]:
train_info['gender+age'].value_counts().values * 0.2

array([163.4, 146.4, 109.8,  82. ,  21.8,  16.6])

# Random Pick

In [46]:
all_train_dirs = glob(os.path.join(train_origin_dir, '*'))
all_train_dirs = [path for path in all_train_dirs if os.path.isdir(path)]
len(all_train_dirs)

2700

In [48]:
num_train_dirs = len(all_train_dirs)
valid_ratio = 0.2

num_valid_dirs = int(2700 * 0.2)
num_train_dirs -= num_valid_dirs

num_train_dirs, num_valid_dirs

(2160, 540)

In [ ]:
random_indices = np.random.choice