In [18]:
from path import *
from glob import glob
import pandas as pd
import matplotlib as plt
import numpy as np
import cv2

In [15]:
cnt_dict = dict()
for folder in glob(train_origin_path + '/*'):
    for image_file in glob(folder + '/*'):
        ext = image_file.split('.')[-1]
        cnt_dict[ext] = cnt_dict.get(ext, 0) + 1
print(cnt_dict)

{'jpg': 25765, 'jpeg': 509, 'png': 730}

In [26]:
g = glob(os.path.join(train_image_path, '*'))
len(g)

18893

In [20]:
info = pd.read_csv(os.path.join(train_path, 'train.csv'))
info.head()

       id  gender   race  age                    path
0  000001  female  Asian   45  000001_female_Asian_45
1  000002  female  Asian   52  000002_female_Asian_52
2  000004    male  Asian   54    000004_male_Asian_54
3  000005  female  Asian   58  000005_female_Asian_58
4  000006  female  Asian   59  000006_female_Asian_59

In [21]:
len(info)

2700

In [28]:
len(info.path.unique())

2700

In [22]:
2700 * 7

18900

In [23]:
info.iloc[-1]

id                      006959
gender                    male
race                     Asian
age                         19
path      006959_male_Asian_19
Name: 2699, dtype: object